h8 {
  font-size: 14px;
  /* text-align: center !important; */
  color: gray;
  /* padding-left: 35%; */
  /* text-align: right; */
}

p,
h5 {
  text-align: center;
}

a {
  color: white;
}

a:hover {
  color: #666e77;
  text-decoration: none;
}

.col {
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(199, 199, 199);
}

