h8 {
  font-size: 14px;
  text-align: center;
  color: gray;
}

p,
h5 {
  text-align: center;
}

a {
  color: white;
}

a:hover {
  color: #666e77;
  text-decoration: none;
}



.col.usNews {
    width: 10rem;
}